@import 'tailwindcss';

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}

button {
    background: black;
    color: white;
    border-radius: 0.6rem;
    padding: 0.6rem;
    cursor: pointer;
}

button:active {
    scale: 0.95;
}

.container {
    border: 2px solid black;
}
