.container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    height: 100%;
}

.outlet {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.content {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    scroll-behavior: smooth;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
